<p id="notice"><%= notice %></p>

<div>
  <ul class="nav justify-content-end">  
</ul>
</div>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Oau E-rents', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
        <% if rent_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Upload new product', new_rent_path %></li>
              <li><%= link_to 'Profile', edit_rent_registration_path %></li>
              <li><%= link_to 'Log out', destroy_rent_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li style = "color: white; padding-top: 15px;">Do you know about an hostel that is uo for rent? or are you an agent?, join campus biggest community, just sign-up and sell now</li>
          <li><%= link_to 'Log In', new_rent_session_path %></li>
          <li><%= link_to 'Sign Up', new_rent_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<p id="notice"><%= notice %></p>

<h1>Accomodations</h1>

<div class ="d-flex flex-warp" style = "display: flex; flex-flow: row wrap;">
<% @rents.each do |rent| %>
<div class="card " style="width: 38rem; margin-bottom: 20px; padding-bottom: 20px">
  <img class="card-img-top" style ="    width: 355px; margin: 12px;" src="<%= rent.image.url %>" alt="Card image cap">
  <div class="card-body">
    <h2 style = "margin-left: 11px;" class="card-title"><u><%= rent.title %></u></h2>
    <p style = "margin-left: 11px;" class="card-text"><%= link_to truncate(rent.body, length: 70) %></p>
    <div>
    <h4 style = "margin-left: 23px; float: left" class="card-title"># <%= rent.price %></h4>
    <button style = "margin-right: 23px; float: right" class="btn btn-primary" type="submit"><%= link_to 'Show', rent %></button>
    </div>
    <% if rent_signed_in? %>
        <h5 style = "margin-left: 11px;"><%= link_to 'Edit', edit_rent_path(rent) %></h5>
        <h5 style = "margin-left: 11px;"><%= link_to 'Destroy', rent, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
          
    <% end %>
  </div>
</div>
<% end %>
</div>

<% if rent_signed_in? %>
  <%= link_to 'New Rent', new_rent_path %>
<% end %>