<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rent.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @rent.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rent.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @rent.image %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
