<section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          <% @headCarousel.each do |carousel| %>
        <div class="single_iteam"> <a href="#"> <%= image_tag carousel.image.url %> </a>
            <div class="slider_article">
                <h2><a class="slider_tittle" href="#"><%= carousel.title %></a></h2>
                <p><%= link_to raw carousel.body %></p>
            </div>
        </div>
    <% end %>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4" style="margin-bottom: 30px; height: 300px;">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              <% @pageSections.each do |page| %>
                    <li>           
                        <div class="media"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="<%= page.image.url %>"> </a>
                        <div class="media-body"> <a href="pages/single_page.html" class="catg_title"><%= link_to page.title, page_path(page.id) %></a> </div>
                        </div>
                    </li>
              <% end %>
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>