<header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top">
            <ul class="top_nav">
              <li><%= link_to "Home", root_path %></a></li>
              <li><%= link_to "Sales", buys_path %></a></li>
              <li><%= link_to "Oau Events", oaue_path %></a></li>
              <li><%= link_to "Accommodation", rents_path %></a></li>
              <li><%= link_to "Contest", contest_path %></a></li>
            </ul>
          </div>
          <!--<div class="header_top_right">
            <div class="search-box">
              <input class="search-txt" type="text" placeholder="search..">
              <a class="search-btn" href="#">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>-->
        </div>
      </div>